# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel



# Exclude JavaScript files (e.g., *.js, *.jsx)
**/*.js


# Include configuration files
!next.config.js
!postcss.config.js
!tailwind.config.js
!jsconfig.json 
!package-lock.js0n
!package.json 



# Exclude all JavaScript files except AuthUI.js
*.js
!AuthUI.js
!database_functions.js
!firebase.js
!useFirebaseAuth.js
!AuthButton.js 
!Page.stories.js
!Header.stories.js
!Button.stories.js


# Exclude all CSS files except globals.css
*.css
!globals.css
!button.css 
!page.css




